[submodule "external/toolboxes"]
	path = external/toolboxes
	url = https://github.com/reprostat/toolboxes
[submodule "external/octave-pool"]
	path = external/octave-pool
	url = https://github.com/reprostat/octave-pool
